.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.nameInput {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-top: 2px solid black;
  outline: none;
  border-radius: 0;
}

.emailInput {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-top: 2px solid black;
  outline: none;
  border-radius: 0;
}

.messageInput {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-top: 2px solid black;
  outline: none;
  border-radius: 0;
}

.submitButton {
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border: 2px solid black;
  background-color: white;
}

.submitButton:hover {
  background-color: black;
  color: white;
}
