.navbar {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
      
}

.navbarLeft {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: inherit;
}

.navbarRight {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: inherit;
}

