.navbar {
    position: relative;
    height: 40 px;
    min-height: 45px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid;
    cursor: none;
    
    
}

.navbarLeft {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: inherit;
}

.navbarRight {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: inherit;
}

