.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
  }