.imageCard {
    min-height: 675px;
    aspect-ratio: 6 / 8;
    position: relative;
    overflow: hidden;
    background-color: grey;
}

.imageCard img{
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .imageCard {
      aspect-ratio: 6 / 8;
      min-width: 100%;
      min-height: 100%;
      flex-wrap: wrap;
      flex-shrink: 1;
    };

    .imageCard img{
      object-fit: contain;
  };    
  }