@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.galleryStudio {
  display: flex;
  min-height: 400px;
  height: -webkit-fill-available;
  max-height: 1800px;
  margin-bottom: 20px;
  gap: 30px;
  align-content: flex-start;
  position: relative;
  overflow: hidden;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.galleryStudio::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.galleryStudio {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image {
  position: relative;
  height: 100%;
  width: auto;
  overflow: hidden;
  flex-shrink: 0;
}

@media only screen and (max-width: 900px) {
  .galleryStudio {
    width: 100%;
    height: auto;
    gap: 20px;
    max-height: none;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow: hidden;
  }

  .image {
    flex-shrink: 1;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-shrink: 1;
  }
}
