.galleryContainer {
    display: flex;
    gap: 20px;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
    cursor: none;
}

@media only screen and (max-width: 900px) {
    .galleryContainer {
      
      width: 100%;
      flex-wrap: wrap;
      overflow-y: auto;
      overflow: hidden;
      
    }
  }