@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

html {
  height: 100svh;
  font-smooth: always;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  color: rgb(167, 164, 164);
}

h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.56;
  margin-top: 0;
}

h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

@media only screen and (max-width: 900px) {
  body {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin-right: 10px;
    margin-left: 10px;
  }
}
