* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: rgba(29, 29, 29, 1);
    color: black;
    font-smooth: always;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: red;
}


h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

h2 {
    font-size: 15px;
    font-weight: 200;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}
