.containerModel {
  width: 100%;
  height: calc(100% - 105px);
  position: relative;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(202, 193, 182);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

@media only screen and (max-width: 900px) {
  .containerModel {
    width: 100%;
    height: calc(100svh - 105px);
    overflow-y: auto;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .containerModel {
    height: calc(100svh - 65px);
    margin-bottom: 0px;
  }
}
