.imageContainer {
    
  
    min-width: 800px;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: grey;
    
    
}

.imageContainer img{

    object-fit: cover;
    
    
    

}
