.textCard {
    min-height: 675px;
    max-width: 500px;
    min-width: 450px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    
}

@media only screen and (max-width: 900px) {
    .textCard {
      
      min-width: 100%;
      min-height: 100%;
      flex-wrap: wrap;
      flex-shrink: 1;
      margin-right: 0px;
    };

  }